<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778196641235-a60lq3pt7m5joef324ajft7teapbia2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778196641235-a60lq3pt7m5joef324ajft7teapbia2h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778196641235-scmf6tobh1qbuab2cpk5mppnqc7bsqvm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkpEjAw5TDi83sxAIYbodQ9YTyL1nphsE</string>
	<key>GCM_SENDER_ID</key>
	<string>778196641235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dinopetWalker</string>
	<key>PROJECT_ID</key>
	<string>dinopetwalker</string>
	<key>STORAGE_BUCKET</key>
	<string>dinopetwalker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778196641235:ios:849af70954d4264284bb26</string>
</dict>
</plist>